{% extends 'base.html' %}
{% load static %}

{% block title %}
DetalheFilmes Hashflix
{% endblock %}

{% block content %}
<div class="py-10">
    <h1>Essa eh detalhe do filme {{ object }}</h1>
    <p>{{ object }}</p>
    <p>{{ object.description }}</p>
    <p>Visuzalizacoes: {{ object.visualizations }}</p>
    <img src="{{ object.thumb.url }}">

    <h2>Episodes</h2>
    {% for episode in object.episodes.all %}
        <a href="{{ episode.video }}">

            <p>Episodio: {{ forloop.counter }} - {{ episode.title }} </p>
        </a>
    {% endfor %}
    <!-- puxando os episodios do related_name que foi declarado
    na classe Episodios em models.py, .all eh necessario pra
    poder listar tudo -->
</div>

<div class="py-10">
    <h2>Filmes Relacionados</h2>
    <!-- Gerando uma lista de filmes relacionados -->
    {% for movie in filmes_relacionados %}
    <p>
        <!-- mesma estrutura de url usada em homefilmes.html onde movie eh o nome do app
         que esta registrado em urls.py da seguinte forma
         path('movies/<int:pk>', Detalhesfilme.as_view(), name='detalhesfilme')
         dessa forma a primary key eh passada e a pagina de detalhe do filme relacionado eh exibida -->
        <a href="{% url 'movie:detalhesfilme' movie.pk %}">
            {{ movie.title }}
        </a>
    </p>
    {% endfor %}
</div>
{% endblock %}
