{% extends 'base.html' %}
{% load static %}

{% block title %}
HomeFilmes Hashflix
{% endblock %}

{% block content %}

<div class="py-10">
    <h1>Essa eh a nossa Home Filmes</h1>
    <!-- object_list ta vindo da view pela Classe Homefilmes
    que esta passando o conteudo do modelo Movie, assim,
    puxando todos os registros da tabela, isso em views.py -->
    {% for movie in object_list %}
        <hr>
        <a href="{% url 'movie:detalhesfilme' movie.pk %}"><p>{{ movie.title }}</p></a>
        <p>{{ movie.description }}</p>
        <img src="{{ movie.thumb.url }}">
    {% endfor %}
</div>

<div class="py-10">
    <h2>Filmes Novos</h2>
    <!-- Abaixo, fazendo chamada a funcao lista_filmes_recentes declarada no gerenciador de contexto
     em new_contexts.py que retorna a lista de filmes ordenados por data de criacao decrescente -->
    {{ lista_filmes_recentes }}
</div>

<div class="py-10">
    <h2>Filmes em Alta</h2>
    <!-- Abaixo, fazendo chamada a funcao lista_filmes_recentes declarada no gerenciador de contexto
     em new_contexts.py que retorna a lista de filmes ordenados por data de criacao decrescente -->
    {{ lista_filmes_emalta }}
</div>


{% endblock%}
