{% extends 'base.html' %}
{% load static %}

{% block title %}
HomeFilmes Hashflix
{% endblock %}

{% block content %}

<div class="py-10">
    <h1>Essa eh a nossa Home Filmes</h1>
    <!-- object_list ta vindo da view pela Classe Homefilmes
    que esta passando o conteudo do modelo Movie, assim,
    puxando todos os registros da tabela, isso em views.py -->
    {% for movie in object_list %}
        <hr>
        <p>{{ movie }}</p>
        <p>{{ movie.description }}</p>
        <img src="{{ movie.thumb.url }}">
    {% endfor %}

</div>

{% endblock%}
