{% load static %}
<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <div class="w-6/12">
        <a href="/">
            <img class="w-2/12" src="{% static 'images\hashflix.png' %}">
        </a>
    </div>



    <div class="w-6/12 flex flex-nowrap justify-end">
        {% if user.is_authenticated %}
        <div class="mr-2">
            <form method="get" action="{%url 'movie:pesquisafilme' %}">
                <!-- value="{{ request.GET.query }}" serve pra manter no campo busca, o que foi pesquisado -->
                <input type="text" name="query" value="{{ request.GET.query }}" class="py-1 px-2 rounded-md text-black" placeholder="Search...">
                <input type="submit" value="">
            </form>
        </div>
        {% endif %}
        <div class="mr-2">
            {% if user.is_authenticated %}
            <a href="{%url 'movie:logout' %}">
                <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Logout
                </button>
            </a>
            {% else %}
            <a href="{%url 'movie:login' %}">
                <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Login
                </button>
            </a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="mr-2">
            <a href="{%url 'movie:editarperfil' %}">
                <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Editar Perfil
                </button>
            </a>
        </div>
        {% endif %}
    </div>

</nav>